body {
    background-color: #322F2F;
}

h1 {
    color: white;
    font-size: 64px;
    font-family: inter;
    text-align: center; /* Same with this, would it be better to use a flex/grid approach? */
    margin-top: 20%; /* Unsure about using this to center - ?will it be responsive */
}

.grace {
    color: #B76E79;
}